.wl-hostsList-container {
    border: 3px black solid;
    width: 80%;
    height: auto;
    margin: auto;
}
.wl-hostsList-body {
    border: 3px red solid;
    height: auto;
}
.wl-hostsList-item {
    border: 3px blue solid;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
