@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");

.wl-hostItem-container {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    background-color: white;
    font-family: "Tajawal", sans-serif;
    font-size: 1.1em;
    transition: transform 0.2s;
}
.wl-hostItem-container:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
}
@media only screen and (max-width: 850px) {
    .wl-hostItem-container {
        font-size: 0.75em;
    }
}
.wl-hostDestinationItem-container {
    width: 50vh;
    height: 60vh;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    background-color: white;
    transition: transform 0.2s;
}
.wl-hostDestinationItem-container:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
}
.wl-hostItem-box {
    color: black;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.wl-hostItem-dataList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
}
.wl-hostItem-dataList > h6 {
    padding-left: 25px;
    font-size: 0.75em;
}
.en-tete {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.wl-hostItem-header {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.wl-hostItem-header > h6 {
    margin-left: 15px;
    font-size: 1.1em;
    color: rgb(93, 0, 136);
    font-weight: bold;
}
.wl-hostDestinationItem-box,
.wl-postDestinationItem-box {
    /* border: 1px blue solid; */
    width: 100%;
    margin-right: 30px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    color: black;
    height: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}
.wl-hostDestinationItem-box > h6 {
    font-size: 0.8em;
}

.wl-hostItem-body {
    height: 30vh;
    word-wrap: break-word;
    overflow: auto;
    padding-left: 90px;
    padding-bottom: 30px;
    margin: 0;
}
.wl-hostDestinationItem-body,
.wl-postDestinationItem-body {
    margin-top: 8px;
}
.wl-hostItem-row {
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.wl-hostItem-first-line {
    width: auto;
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    padding-left: 10px;
    height: 25px;
}
.wl-hostItem-first-line > h6 {
    font-size: 0.86em;
}
.wl-hostItem-line {
    width: auto;
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    height: 25px;
}
.wl-hostItem-line > h6 {
    font-size: 0.86em;
}
.t5 {
    font-size: 0.86em;
    font-weight: bold;
    margin-right: 10px;
}

.wl-hostItem-buttons {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.wl-hostDestinationItem-buttons {
    width: auto;
    display: flex;
    justify-content: flex-end;
}
.wl-hostItem-edit {
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
