@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");

.wl-postItem-container {
    height: 81%;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    font-family: "Tajawal", sans-serif;
    font-size: 1.1em;
}
@media only screen and (max-width: 850px) {
    .wl-postItem-container {
        font-size: 0.75em;
    }
}
/* @media only screen and (max-width: 1120px) {
    .wl-postItem-container {
        height: 45vh;
    }
} */
.wl-postDestinationItem-container {
    width: 50vh;
    height: 66vh;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    background-color: white;
}
.post-link:hover {
    color: #7b1fa2 !important;
}
.wl-postItem-box {
    color: black;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.wl-postItem-dataList {
    width: 100%;
    margin: auto;
    /* padding-left: 25px; */
}

.wl-postItem-dataList > h6 {
    padding-left: 25px;
    font-size: 0.75em;
}
.wl-postItem-header {
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-bottom: 15px;
}
.wl-postItem-header > h6 {
    margin-left: 15px;
    font-size: 0.88em;
    color: black;
    font-weight: bold;
}
.wl-postItem-body {
    padding-left: 50px;
    margin: 0;
}
.wl-postItem-row {
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.wl-postItem-first-line {
    width: auto;
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    padding-left: 10px;
    height: 25px;
}
.wl-postItem-line {
    width: auto;
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
    height: 25px;
}
.wl-postItem-first-line > h6 {
    font-size: 0.86em;
}
.wl-postItem-line > h6 {
    font-size: 0.86em;
}
.t5 {
    font-size: 0.86em;
    font-weight: bold;
    margin-right: 10px;
}
.wl-postItem-buttons {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.wl-postItem-edit {
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.wl-postDestinationItem-buttons {
    display: flex;
    align-items: center;
}
