.cityFilter {
    width: 50%;
    margin: auto;
}
.cityFilterBox {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: baseline;
}
.dateFilterBox {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: baseline;
}
.wl-ok-button {
    margin-left: 25px;
}
