.filter-container {
    background-color: #ede7f67a;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.cityFilter {
    width: 100%;
    height: auto;
    margin: auto;
}
.cityFilterBox {
    height: auto;
    width: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin: auto; */
}
.dateFilterBox {
    width: auto;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #eff1db9c;
    box-shadow: 1px 1px 20px rgba(165, 165, 165, 0.973);
    /* align-items: baseline; */
}
.wl-ok-button {
    margin-left: 25px;
    width: auto;
    margin: auto;
    text-align: center;
}

.mb-2 {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}
.date {
    display: flex;
    justify-content: center;
}
.city {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
input[type="text"] {
    padding-left: 10px;
    margin-bottom: 15px;
}
.close-btn {
    display: flex;
    align-self: flex-end;
}
@media only screen and (max-width: 830px) {
    .cityFilter {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .city {
        width: 100%;
    }
}
