.wl-postsList-container {
    height: auto !important;
}
.wl-postsList-body {
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.wl-postsList-item {
    background-color: #ede7f67a;
    width: 90%;
    margin: auto;
    height: auto !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 5px;
}
