@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

.wl-container {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 110vh;
}
section {
    scroll-snap-align: start;
    height: 110vh;
}
/* .wl-section-navbar {
    height: 15vh;
} */
.wl-section-four {
    height: 50vh;
}
.wl-section-navbar {
    margin: 0;
    padding: 0;
    height: 0vh;
    background-color: transparent;
}
.wl-section-one {
    font-family: "Poppins", sans-serif !important;
}
.wl-footer-scroll {
    height: 10vh;
}
.wl-box-items {
    transition: transform 0.2s;
}
.wl-box-items:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.05);
}
.link-up {
    background-color: gold;
    position: absolute;
    right: 25px;
    bottom: 0px;
}
