.usersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 0px 5px 15px rgb(80, 76, 76);
}
.admin-wl-userItem {
    display: flex;
    flex-wrap: wrap;
}
.postsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 0px 5px 15px rgb(80, 76, 76);
}
.admin-wl-postItem {
    color: black;
    display: flex;
    flex-wrap: wrap;
}
.hostsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 0px 5px 15px rgb(80, 76, 76);
}
.admin-wl-hostItem {
    display: flex;
    flex-wrap: wrap;
}
