.u-section-1 {
    min-height: 685px;
}

.u-section-1 .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 685px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 685px;
    pointer-events: auto;
    /* background-image: none; */
}
.wl-paper-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.315);
}
.u-section-1 .u-container-layout-1 {
    /* box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); */
    padding: 21px 14px;
    background-image: linear-gradient(
        to bottom,
        #fd84b2,
        #f16db1,
        #e156b2,
        #cc41b6,
        #b32fbc,
        #9d42cb,
        #8251d7,
        #605de1,
        #487aeb,
        #4392ed,
        #58a7ea,
        #7bbae5
    );
    /* background-image: linear-gradient(
        to bottom,
        #fe5d9a,
        #ef489e,
        #dd33a4,
        #c720ab,
        #ac13b3,
        #9633c3,
        #7b46d0,
        #5854da,
        #3b70e6,
        #2a88eb,
        #3a9dec,
        #5bb0e9
    ); */
    /* background-image: linear-gradient(
        to right top,
        #f76a9f,
        #f972af,
        #f97bbf,
        #f984cf,
        #f78dde,
        #f699e5,
        #f5a4ec,
        #f4aff2,
        #f5bff2,
        #f6cef2,
        #f5def3,
        #f4edf3
    ); */
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 0 344px 0 0;
}

.u-section-1 .u-text-2 {
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
    animation-duration: 1000ms;
    margin: 126px 46px 0;
}

.u-section-1 .u-btn-1 {
    background-color: rgb(254, 69, 146);
    border-style: none;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    animation-duration: 1000ms;
    box-shadow: 5px 5px 20px 0 rgba(100, 16, 16, 0.4);
    margin: 43px 31px 0 auto;
    padding: 10px 22px 10px 21px;
}

.u-section-1 .u-search-1 {
    width: 363px;
    min-height: 44px;
    background-image: none;
    margin: -42px auto 0 93px;
}

.u-section-1 .u-search-icon-1 {
    background-image: none;
    height: 25px;
    font-size: 0.3125rem;
    width: 25px;
    color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-search-input-1 {
    font-weight: 700;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-size: 0.875rem;
    background-image: none;
    margin: 13px auto 0 93px;
    padding: 8px 35px 9px;
}

.u-section-1 .u-image-1 {
    min-height: 685px;
    pointer-events: auto;
    background-image: url("____444_.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-1 .u-text-3 {
    font-size: 1rem;
    margin: -139px calc(((100% - 1140px) / 2) + 630px) 0
        calc(((100% - 1140px) / 2) + 8px);
}

.u-section-1 .u-text-4 {
    font-weight: 700;
    font-size: 1rem;
    margin: 27px calc(((100% - 1140px) / 2) + 630px) 60px
        calc(((100% - 1140px) / 2) + -20px);
}

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 565px;
    }

    .u-section-1 .u-layout-wrap-1 {
        min-height: 445px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 565px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 244px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }

    .u-section-1 .u-search-1 {
        margin-left: 69px;
    }

    .u-section-1 .u-search-icon-1 {
        width: 36px;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 69px;
    }

    .u-section-1 .u-image-1 {
        min-height: 565px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 940px) / 2) + 438px);
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 940px) / 2) + 438px);
        margin-left: calc(((100% - 940px) / 2) + -20px);
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 594px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 134px;
    }

    .u-section-1 .u-search-1 {
        width: 322px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-2 {
        margin-left: 0;
    }

    .u-section-1 .u-image-1 {
        min-height: 433px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 720px) / 2) + 218px);
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 720px) / 2) + 218px);
        margin-left: calc(((100% - 720px) / 2) + -20px);
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 721px;
    }

    .u-section-1 .u-layout-wrap-1 {
        min-height: 662px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .u-section-1 .u-image-1 {
        min-height: 650px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 540px) / 2) + 38px);
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 540px) / 2) + 38px);
        margin-left: calc(((100% - 540px) / 2) + -20px);
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 491px;
    }

    .u-section-1 .u-layout-wrap-1 {
        min-height: 421px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-search-1 {
        width: 320px;
    }

    .u-section-1 .u-image-1 {
        min-height: 409px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 340px) / 2));
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 340px) / 2));
        margin-left: calc(((100% - 340px) / 2));
    }
}
