.u-white,
.u-body.u-white,
.u-container-style.u-white:before,
.u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-image: linear-gradient(
        to left bottom,
        #fe5d9a,
        #ef63ab,
        #dd6aba,
        #c871c5,
        #b278cc,
        #af86d3,
        #ad92d8,
        #ad9edc,
        #c1b6e5,
        #d5ceee,
        #eae6f7,
        #ffffff
    );
}

.u-border-custom-color-4,
.u-separator-custom-color-4:after {
    border-color: #f96b9d;
    stroke: #f96b9d;
}
.u-search {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.u-section-1 {
    min-height: 685px;
}

.u-section-1 .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 685px;
}
.u-section-1 .u-container-layout-1 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 21px 14px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 0 344px 0 0;
}

    /* font-weight: 700;
    margin: 0 344px 0 0; */
h2:not(.u-subtitle) {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-body h1,
.u-body h2,
.u-body h3,
.u-body h4,
.u-body h5,
.u-body h6 {
    padding: 0;
}
.u-text-custom-color-5,
a.u-button-style.u-text-custom-color-5,
a.u-button-style.u-text-custom-color-5[class*="u-border-"] {
    color: #4e2f8d !important;
}
.u-button-style.u-custom-color-4,
.u-button-style.u-custom-color-4[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #f96b9d;
}
.search-button-wl {
    display: block;
    display: flex;
    align-items: center;
}
.search-item {
    margin-left: 10px;
}
.u-section-1 .u-text-2 {
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
    animation-duration: 1000ms;
    margin: 126px 46px 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    /* text-transform: uppercase; */
    font-weight: 700;
    animation-duration: 1000ms;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 88px 35px 0 auto;
    padding: 10px 22px 10px 21px;
}

.u-section-1 .u-search-1 {
    width: 348px;
    min-height: 48px;
    background-image: none;
    height: auto;
    margin: -45px auto 0 107px;
}

.u-section-1 .u-search-icon-1 {
    background-image: none;
    height: 25px;
    font-size: 0.3125rem;
    width: 25px;
    color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-search-input-1 {
    font-weight: 700;
}

.u-section-1 .u-image-1 {
    background-image: url("____444_.jpg");
    background-position: 50% 50%;
    min-height: 685px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-1 .u-text-3 {
    color: #4e2f8d;

    font-size: 1rem;
    margin: -139px calc(((100% - 1140px) / 2) + 630px) 0
        calc(((100% - 1140px) / 2) + 8px);
}

.u-section-1 .u-text-4 {
    color: #4e2f8d;

    font-weight: 700;
    font-size: 1rem;
    margin: 27px calc(((100% - 1140px) / 2) + 630px) 60px
        calc(((100% - 1140px) / 2) + -20px);
}

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 565px;
    }

    .u-section-1 .u-layout-cell-1 {
        pointer-events: auto;
        min-height: 565px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 244px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }

    .u-section-1 .u-search-1 {
        margin-left: 69px;
    }

    .u-section-1 .u-search-icon-1 {
        width: 36px;
    }

    .u-section-1 .u-image-1 {
        pointer-events: auto;
        min-height: 565px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 940px) / 2) + 438px);
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 940px) / 2) + 438px);
        margin-left: calc(((100% - 940px) / 2) + -20px);
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 433px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 134px;
    }

    .u-section-1 .u-search-1 {
        width: 322px;
        margin-left: 0;
    }

    .u-section-1 .u-image-1 {
        min-height: 433px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 720px) / 2) + 218px);
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 720px) / 2) + 218px);
        margin-left: calc(((100% - 720px) / 2) + -20px);
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 750px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .u-section-1 .u-image-1 {
        min-height: 650px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 540px) / 2) + 38px);
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-right: calc(((100% - 540px) / 2) + 38px);
        margin-left: calc(((100% - 540px) / 2) + -20px);
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 509px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-search-1 {
        width: 320px;
    }

    .u-section-1 .u-image-1 {
        min-height: 409px;
    }

    .u-section-1 .u-text-3 {
        color: #4e2f8d !important;
        margin-right: calc(((100% - 340px) / 2));
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-4 {
        color: #4e2f8d !important;
        margin-right: calc(((100% - 340px) / 2));
        margin-left: calc(((100% - 340px) / 2));
    }
}
.u-text-custom-color-5 svg,
.u-text-hover-custom-color-5:hover svg,
.u-button-style:hover > .u-text-hover-custom-color-5 svg,
.u-button-style.u-button-style.active > .u-text-active-custom-color-5 svg,
.u-text-hover-custom-color-5:focus svg {
    fill: #4e2f8d;
}
