@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.u-nav-item:hover {
    background-color: #f1960d;
    color: white;
    border: 2px white solid;
}
.u-overlap {
    /* border: 5px red solid; */
    background-color: transparent;
    height: 15vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* position: fixed; */
    margin-bottom: 20px;
    overflow: hidden;
}
.u-headline {
    font-size: 3.5em !important;
    font-family: "Courgette", cursive !important;
}
.u-headline:hover {
    color: rgb(255, 138, 96) !important;
}
