.Container {
    position: fixed;
    /* right: 0px; */
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_register {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-logo > h6:hover {
    border-bottom: 3px #fd9504 solid;
}
